.layout {
    --m-layout-p: 24px;

    height: 100dvh;
    width: 100dvw;
    max-height: 100dvh;
    max-width: 100dvw;
    display: grid;
    grid-template-areas: "sidebar content rightbar";
    grid-template-columns: min-content 1fr 96px;
}

.sidebar {
    grid-area: sidebar;
    padding: var(--m-layout-p);
    max-width: 300px;
}

.content {
    grid-area: content;
    padding: var(--m-layout-p);
    width: 100%;
    overflow: hidden;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.rightbar {
    grid-area: rightbar;
}

.header {
    padding-top: var(--m-layout-p);
    padding-right: var(--m-layout-p);
    display: flex;
    flex-direction: column;
}

.toolbar {
    display: flex;
    flex-direction: column;
}
