@import './reset';
@import './variables/global';
@import './themes/light';
@import './themes/dark';
@import './themes/lime';

.app {
    font: var(--font-m);
    min-height: 100vh;
    min-width: 100vw;
    background-color: var(--bg-color);
    color: var(--primary-color);
}

.page-layout {
    display: flex;
    flex-direction: row;
}

.page-wrapper {
    flex-grow: 1;
    padding: 24px;
}
