.app-link {
    text-decoration: none;
    font-size: 1rem;
}

.primary {
    color: var(--primary-color);
    font-weight: 600;
}

.secondary {
    color: var(--secondary-color);
    font-weight: 200;
}

.warning {
    color: var(--warning-color);
    font-weight: 900;
}
