.sort-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.select {
    width: unset;
    padding: 6px 8px 8px;
}

.select-border {
    height: 38px;
}

.select-wrapper {
    flex-direction: row;
    white-space: nowrap;
    align-items: center;
}
