# Exclude paclages from git
node_modules

# Exclude build directory
/build/

# Exclude editor folders
.vscode

# Exclude Storybook files and folders
*storybook.log
/storybook-static

# Exclude folder with report files
/.loki/report

# Exclude folders with temporary data
/.loki/current
/.loki/difference

# Exclude .loki/.gitignore
/.loki/.gitignore
