.sidebar {
    --sidebar-padding: 24px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100vh - var(--navbar-h));
    width: var(--sidebar-w);
    min-width: var(--sidebar-w);
    background-color: var(--inverted-bg-color);
    position: relative;
    transition-property: width;
    transition-duration: 400ms;
    transition-timing-function: ease-in-out;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 16px;
    color: var(--inverted-primary-color);
    list-style: none;
    padding: var(--sidebar-padding);
}

.toggle-btn {
    position: absolute;
    bottom: var(--sidebar-padding);
    right: calc(var(--font-line-xl) * -1);
    border-radius: 0 var(--radius-m) var(--radius-m) 0;
    z-index: var(--z-mid);

    &-icon {
        transform: scaleX(-1);
        fill: var(--bg-color);
    }
}

.switchers {
    width: 100%;
    position: absolute;
    bottom: var(--sidebar-padding);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding: 0 24px;
}

.collapsed {
    width: var(--sidebar-w-collapsed);
    min-width: var(--sidebar-w-collapsed);

    select {
        padding: 4px;
    }

    .switchers {
        flex-direction: column;
        padding: 0 12px;
    }

    .toggle-btn-icon {
        transform: scaleX(1);
    }
}
