.drawer {
    position: fixed;
    inset: 0;
    opacity: 0;
    pointer-events: none;
    z-index: var(--z-hidden);
    display: flex;
    align-items: flex-end;
    transition: var(--transition-default);
}

.content {
    height: 70svh;
    background: var(--bg-color);
    bottom: 0;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    position: relative;
    width: 100%;
    min-height: 200px;
    padding: 20px;
    transition: var(--transition-default);
    transform: translateY(100%);
    z-index: var(--z-modal);
}

.open {
    pointer-events: unset;
    opacity: 1;
    z-index: var(--z-modal);

    .content {
        transform: translateY(0%);
    }
}
