.button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    outline: none;
    border: none;
    cursor: pointer;
    padding: 16px;
}

.disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

.size-m {
    height: var(--font-line-m);
    padding: 8px;
}

.size-l {
    height: var(--font-line-l);
    padding: 16px;
}

.size-xl {
    height: var(--font-line-xl);
    padding: 24px;
}

.clear {
    padding: 0;
    margin: 0;
    background-color: transparent;
    outline: none;
    border: none;
}

.rounded-s {
    border-radius: var(--radius-s);
}

.rounded-m {
    border-radius: var(--radius-m);
}

.rounded-l {
    border-radius: var(--radius-l);
}

.outline {
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
}

.outline-inverted {
    border: 1px solid var(--inverted-primary-color);
    color: var(--inverted-primary-color);
}

.outline,.outline-inverted {
    background-color: transparent;
}

.square {
    padding: 0;
    margin: 0;

    &.size {
        &-m {
            width: var(--font-line-m);
        }

        &-l {
            width: var(--font-line-l);
        }

        &-xl {
            width: var(--font-line-xl);

        }
    }
}

.bg {
    background-color: var(--bg-color);
    color: var(--primary-color);
}

.bg-inverted {
    background-color: var(--inverted-bg-color);
    color: var(--inverted-primary-color);
}
