.sidebar {
    display: flex;
    flex-direction: column;
    height: calc(100vh - var(--navbar-h));
    width: var(--sidebar-w);
    background-color: var(--inverted-bg-color);
    position: relative;
    transition-property: width;
    transition-duration: 400ms;
    transition-timing-function: ease-in-out;
}

.collapsed {
    width: var(--sidebar-w-collapsed);
}

.switchers {
    width: 100%;
    position: absolute;
    bottom: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}
