.banner {
  --size: 320px;

  height: var(--size);
  min-height: var(--size);
  width: var(--size);
  border-radius: var(--radius-full);
  margin-bottom: 24px;
}

.info-icon-redesigned {
  color: var(--redesigned-icon);
}

.post-info {
  margin-bottom: 24px;
}

.error-block {
  text-align: center;
}
