.title {
    font: var(--font-l);
    font-weight: 600;
}

.text {
    font: var(--font-m);
}

.normal {
    .title {
        color: var(--primary-color);
    }
   
    .text {
        color: var(--secondary-color);
    }
}

.warn {
    .title, .text {
        color: var(--warning-color);
    }
}

.error {
    .title, .text {
        color: var(--error-color);
    }
}
