.wrapper {
    height: var(--font-line-xl);

    select {
        border-right: 4px solid transparent;
    }
}

.border {
    height: 100%;
    border: none;
}

.select {
    height: 100%;
    padding: 8px;
} 
