.commentary-card {
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  padding: 8px;
  gap: 8px;
  background-color: var(--inverted-bg-color);

  * {
    color: var(--inverted-primary-color);
  }
}

.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
}
