.commentary-card {
  padding: 8px;
  border-radius: var(--radius-m);
  background-color: var(--inverted-bg-color);

  * {
    color: var(--inverted-primary-color);
  }
}

.commentary-card-redesigned {
  padding: 8px;
  border-radius: var(--radius-m);
  background-color: var(--redesigned-bg );
}
