.app.dark {
    // backgrounds
    --bg-color: #362a3b;
    --inverted-bg-color: #95e6ff;

    // fonts
    --primary-color: #fff;
    --secondary-color: #aaa;
    --warning-color: #f90;
    --inverted-primary-color: #000;
    --inverted-secondary-color: #444;
}
