:root[data-theme="app-dark"] {
    // backgrounds
    --bg-color: #362a3b;
    --inverted-bg-color: #95e6ff;

    // fonts
    --primary-color: #fff;
    --secondary-color: #aaa;
    --warning-color: #f90;
    --inverted-primary-color: #000;
    --inverted-secondary-color: #444;

    // input
    --input-border: rgb(93 93 93);
    --input-border-focus: rgb(92 92 211);
    --input-border-error: rgb(255 38 38);
    --input-font-color: rgb(255 255 255);
    --input-label-color: rgb(106 192 255);
    --input-bg: rgb(49 46 46);

    // text
    --error-color: rgb(255 0 0);

    // colors
    --theme-switch-bg: hsl(234deg 99% 39%);
}
