:root[data-theme="app-light-theme"] {
    // backgrounds
    --bg-color: #95e6ff;
    --inverted-bg-color: #362a3b;

    // fonts
    --primary-color: #000;
    --secondary-color: #444;
    --warning-color: #f90;
    --inverted-primary-color: #fff;
    --inverted-secondary-color: #aaa;

    // input
    --input-border: rgb(150 150 150);
    --input-border-focus: rgb(92 92 211);
    --input-border-error: rgb(196 0 0);
    --input-font-color: rgb(0 21 48);
    --input-label-color: rgb(0 89 153);
    --input-bg: rgb(255 255 255);

    // text
    --error-color: rgb(255 0 0);

    // theme
    --theme-switch-bg: hsl(47deg 100% 50%);

    // skeleton
    --skeleton-bg: #003a6ba3;
    --skeleton-color: #aaafffc7;
    --skeleton-shadow: #008cff;

    // code
    --code-bg: #72bcf7;
    --code-color: #222b27;
    --code-border: #222b27;

    // scrollbar
    --scrollbar-bg: #362a3b;
    --scrollbar-thumb: #fff;
}
