.app.light {
    // backgrounds
    --bg-color: #95e6ff;
    --inverted-bg-color: #362a3b;

    // fonts
    --primary-color: #000;
    --secondary-color: #444;
    --inverted-primary-color: #fff;
    --inverted-secondary-color: #aaa;
}
