:root[data-theme="app-lime-theme"] {
    // backgrounds
    --bg-color: #F4FBF7;
    --inverted-bg-color: #208754;

    // fonts
    --primary-color: #000;
    --secondary-color: #444;
    --warning-color: #09dc09;
    --inverted-primary-color: #fff;
    --inverted-secondary-color: #aaa;

    // input
    --input-border: rgb(150 150 150);
    --input-border-focus: rgb(92 92 211);
    --input-border-error: rgb(196 0 0);
    --input-font-color: rgb(0 21 48);
    --input-label-color: rgb(0 89 153);
    --input-bg: rgb(255 255 255);

    // text
    --error-color: rgb(255 0 0);

    // theme
    --theme-switch-bg: hsl(108deg 100% 50%);

    // skeleton
    --skeleton-bg: #c98900a3;
    --skeleton-color: #66f3038a;
    --skeleton-shadow: #ff0101a6;

    // listbox
    --listbox-bg: #fbecca;
    --listbox-focus: #fff;
    --listbox-selected: #ecd8a8;

    // code
    --code-bg: #fbecca;
    --code-color: #300063;
    --code-border: rgb(150 150 150);

    // scrollbar
    --scrollbar-bg: #208754;
    --scrollbar-thumb: #F4FBF7;
}
