.page-wrapper {
    flex-grow: 1;
    padding: 24px;
    height: calc(100vh - var(--navbar-h));
    overflow-y: auto;
    flex-shrink: 100;
}

.trigger {
    height: 16px;
    background-color: transparent;
}
