.main-layout {
    min-height: 100dvh;
    min-width: 100dvw;
    display: grid;
    grid-template-areas: "sidebar content rightbar";
    grid-template-columns: 300px 1fr 176px;
}

.sidebar {
    grid-area: sidebar;
    padding: 32px;
}

.content {
    grid-area: content;
    padding: 32px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.rightbar {
    grid-area: rightbar;
}

.header {
    display: flex;
    flex-direction: column;
}

.toolbar {
    display: flex;
    flex-direction: column;
}
