.button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    outline: none;
    border: none;
    cursor: pointer;
    padding: 8px 16px;
    border-radius: var(--radius-m);
    font: var(--redesigned-font-m);
}

.disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

.clear {
    padding: 0;
    margin: 0;
    background-color: transparent;
    outline: none;
    border: none;
}

.outline {
    border: 1px solid var(--redesigned-accent);
    color: var(--redesigned-accent);
}

.fill {
    background-color: var(--redesigned-light-bg);
    color: var(--redesigned-text);
    fill: var(--redesigned-text);

    &:hover {
        &:not([disabled]) {
            color: var(--redesigned-accent);
            fill: var(--redesigned-accent);
        }
    }
}
