.navbar {
    padding: 24px;
    width: 100%;
    height: var(--navbar-h);
    background-color: var(--inverted-bg-color);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 24px;

    a {
        color: var(--bg-color);
    }
}
