.navbar {
    padding: 24px;
    height: var(--navbar-h);
    background-color: var(--inverted-bg-color);

    a {
        color: var(--bg-color);
    }
}

.navbar-redesigned {
    padding: 16px;
    display: flex;
    gap: 16px;
    flex-direction: row;
    background-color: transparent;

    a {
        color: var(--bg-color);
    }
}

.logo {
    margin-inline-end: auto;
    width: var(--sidebar-w);

    * {
        color: var(--inverted-primary-color);
    }
}
