.btn-icon {
    --icon-size: 24px;

    width: var(--icon-size);
    height: var(--icon-size);
    fill: var(--bg-color);
}

.btn-icon-inverted {
    fill: var(--inverted-bg-color);
}

.header-btn {
    height: 42px;
    padding: 8px;

    &:hover {
        &:not([disabled]) {
            color: var(--warning-color);

            .btn-icon {
                fill: var(--warning-color);
            }
        }
    }
}
