:root {
    --avatar-size: 160px;
}

.avatar {
    width: var(--avatar-size);
    height: var(--avatar-size);
    min-height: var(--avatar-size);
    border-radius: var(--radius-full);
    object-fit: cover;
}

.avatar-letters {
    background-color: var(--bg-color);
    border-radius: var(--radius-full);
    font-weight: 800;
    padding: 4px;
}

.size-xs {
    --avatar-size: 32px;
}

.size-s {
    --avatar-size: 80px;
}

.size-m {
    --avatar-size: 160px;
}

.size-l {
    --avatar-size: 240px;
}

.size-xl {
    --avatar-size: 320px;
}
