.drawer {
    touch-action: none;
    position: fixed;
    inset: 0;
    opacity: 0;
    pointer-events: none;
    z-index: var(--z-hidden);
    display: flex;
    align-items: flex-end;
    transition: var(--transition-default);
}

.sheet {
    --h-offset: 25vh;

    z-index: var(--z-modal);
    position: fixed;
    height: 100vh;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    background: var(--bg-color);
    touch-action: none;
    padding: 16px 16px calc(var(--h-offset) + 16px);
    left: 2vw;
    right: 2vw;
    bottom: calc(-1 * var(--h-offset));
    width: 96vw;
}

.open {
    pointer-events: unset;
    opacity: 1;
    z-index: var(--z-modal);

    .content {
        transform: translateY(0%);
    }
}
