.card-wrapper {
    width: 100%;
    display: flex;
}

.card {
    width: 100%;
    max-width: unset;
}

.title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.text {
    max-height: calc(var(--card-w) / 2);
    overflow: hidden;
    position: relative;
    overflow-y: auto;
}

.poster {
    max-height: calc(var(--card-w) / 2);
    width: 100%;
    object-fit: contain;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.header-info {
    display: flex;
    align-items: center;
    gap: 8px;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.footer-info {
    display: flex;
    align-items: center;
    gap: 8px;
}
