.card {
    width: 100%;
    max-width: unset;

    * {
        color: var(--inverted-primary-color);
        fill: var(--inverted-primary-color);
    }
}

.text {
    max-height: calc(var(--card-w) / 2);
    overflow: hidden;
    position: relative;
    overflow-y: auto;
}

.poster {
    max-height: calc(var(--card-w) / 2);
    width: 100%;
    object-fit: contain;
}
