.post-recommendations-list {
    display: flex;
    width: 100%;

}

.post-recommendations-list-redesigned {
    display: flex;
    width: 100%;
    overflow: hidden;
}

.recommendations-redesigned {
    flex-wrap: nowrap;
    overflow-x: auto;
    display: flex;
    width: 100%;
    padding: 0 0 8px;
}

.recommendations {
    display: flex;
    width: 100%;
    gap: 16px;
    flex-wrap: nowrap;
    overflow: auto hidden;
    padding: 0 0 8px;
}
