.dropdown {
    position: relative;
}

.btn {
    background: none;
    outline: none;
    margin: 0;
    padding: 0;
    border: none;
    cursor: pointer;
}

.menu {
    min-width: 150px;
    background: var(--listbox-bg);
    box-shadow: 4px 4px 8px var(--listbox-bg);
    position: absolute;
    z-index: var(--z-drop);
    border-radius: var(--radius-m);
    flex-direction: column;
    display: flex;
    border: none;
    outline: none;
}

.item {
    display: flex;
    padding: 10px 25px;
    width: 100%;
    border: none;
    background: none;
    outline: none;
    color: var(--primary-color);
    font: var(--font-s);
    border-radius: var(--radius-m);
    cursor: pointer;
}

.focus {
    background: var(--inverted-primary-color);
}

.disabled {
    opacity: 0.7;
}

.bottom-left {
    top: calc(100% + 4px);
    right: 0;
}

.bottom-right {
    top: calc(100% + 4px);
    left: 0;
}

.top-right {
    top: calc(100% + 4px);
    left: 0;
}

.top-left {
    right: 0;
    bottom: 100%;
}
