.post-page {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 42px;
    gap: 42px;
    position: relative;
}

.recommendations {
    flex-wrap: nowrap;
    overflow: auto hidden;
    padding: 0 0 8px;
}
