.block {
    border-radius: 12px;
    padding: 8px;
    background-color: var(--inverted-bg-color);
}

.block-redesigned {
    border-radius: 12px;
    padding: 8px;
    background-color: var(--redesigned-bg);
}
