.page-error-banner {
    width: 100vw;
    height: 100vh;
    background-color: rgb(128 128 128 / 50%);
    font: var(--font-l);

    &__btn {
        padding: 16px;
        background-color: rgb(51 51 51);
        color: #FFF;
        border-radius: var(--radius-m);
        font: var(--font-m);
    }
}
